/* Font styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  background-image: url('../images/download.jpg');
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: 30% center; /* Shift the background image to the right */
}


/* Header styles */
.Header {
  background: #87CEEB;
  text-align: center; /* Horizontal centering */
 
  height: 40px;
  width:50%;
  align-items: center; /*Vertically center the header  */
  border-radius: 5px;
  color:white;
  margin: 10px auto; /* Horizontally center the header */
}

/* Heading styles */
.Heading h1 {
  font-size: 2.5em;
  color: white;
  

 
}
.Heading h2 {
  font-size: 1.5em;
  color: #000;
  text-align: left;
}

/* Apply a border to the table */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style table headers */
th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Style alternating rows with different background colors */

table tr:nth-child(odd) 
{ 
    background-color: #D1DDF1;
}
/* Add some spacing and padding to the table cells */
td, th {
  padding: 5px;
  text-align: left;
}

/* Add a border to all table cells */
td, th {
  border-collapse: collapse;
}

/* Add hover effect on table rows */
tr:hover {
  background-color: #d9d9d9;
}


.button
{
background-color: #1bb2e9;
border: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #f4f4f4;
cursor: pointer;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
height: 50px;
text-transform: uppercase;
width: 300px;
-webkit-appearance:none;
margin: 5px auto 0 auto; /* Center the button horizontally */
  display: block; /* Make it a block-level element for horizontal centering */
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  
}
.button:hover
{background-color: #0079ce;
border: none;
border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
-webkit-border-radius: 0px 3px 3px 0px;
color: #f4f4f4;
cursor: pointer;
height: 50px;
text-transform: uppercase;
width: 300px;
}
    

/* central panel styles */
.CentralPanel {

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* subtle shadow */
  max-width: 800px; 
  margin: 40px auto 0 auto; /* 80px top margin, horizontally centered */
}


.genre-container {
  margin-top: 20px;
}

/* Style the text input box */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Style the text input box when it's in focus (clicked or selected) */
input[type="text"]:focus {
  border-color: #007bff; /* Change to your preferred focus color */
  outline: none; /* Remove the default focus outline (optional) */
}

/* footer styles */
.footer {
  background-color: #87CEEB; 
  color: #FFF;
  text-align: center;
  padding: 10px;
  position: fixed; 
  left: 0;
  right: 0;
  bottom: 0;
}




